<!-- add this in Exact Target -->

				<!-- exact target code - appeals -->
				<tr>
					<td class="footer-content" align="center">
						<p>
						%%Member_Busname%%<br>
						%%Member_Addr%%<br>
						%%Member_City%%, %%Member_State%% %%Member_PostalCode%%
						</p>
						<p>The University of Florida Foundation solicits tax deductible private contributions for the benefit of the University of Florida. For our full disclosure statement, <a href="http://www.uff.ufl.edu/Documents/Document.asp?DocID=1751164">please visit our website</a>.</p>
					</td>
				</tr>
				<tr>
					<td class="footer-content" align="center">
						<p>You are receiving this email because you opted in at <a href="https://www.eng.ufl.edu" style="color: #ffffff;">our website</a> or because you are affiliated with Herbert Wertheim College of Engineering.</p>
						<p><a href="%%subscription_center_url%%" alias="Manage Subscriptions">Unsubscribe/manage subscriptions</a> &bull; <a href="%%profile_center_url%%" alias="Manage profile">Manage your profile</a></p>
					</td>
				</tr>

				
				<!-- exact target code - events -->
				<tr>
					<td class="footer-content" align="center">
						<p>
						%%Member_Busname%%<br>
						%%Member_Addr%%<br>
						%%Member_City%%, %%Member_State%% %%Member_PostalCode%%
						</p>
					</td>
				</tr>
				<tr>
					<td class="footer-content" align="center">
						<p>You are receiving this email because you opted in at <a href="https://www.eng.ufl.edu" style="color: #ffffff;">our website</a> or because you are affiliated with Herbert Wertheim College of Engineering.</p>
						<p><a href="%%subscription_center_url%%" alias="Manage Subscriptions">Unsubscribe/manage subscriptions</a> &bull; <a href="%%profile_center_url%%" alias="Manage profile">Manage your profile</a></p>
					</td>
				</tr>


<!-- tracking code -->
<custom name="opencounter" type="tracking">
</body>
</html>