<!-- add this in Exact Target -->

<tr>
	<td class="footer" bgcolor="#FFFFFF" align="center">
		<table border="0" width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td class="footer-content" align="center">
					<a href="https://www.facebook.com/gatorengineering">Facebook</a> &bull; <a href="https://twitter.com/floridaengineer">Twitter</a> &bull; <a href="https://www.youtube.com/user/gatorengineering">YouTube</a> &bull; <a href="https://www.linkedin.com/grp/home?gid=8412066">LinkedIn</a> &bull; <a href="http://www.ufengineering.skorfanshop.com/">Online Store</a>
				</td>
			</tr>
		</table>
	</td>
</tr>

<!-- bgcolor #d5dbe5 -->
					<tr>
						<td class="postfooter" bgcolor="#d5dbe5" align="center" style="padding: 10px 0;font-family: Helvetica, Arial, sans-serif;font-size: 9px;">
							<p style="margin-top: 0px;">%%Member_Busname%%<br>
							%%Member_Addr%%<br>
							%%Member_City%%, %%Member_State%% %%Member_PostalCode%%</p>
							<p style="margin-top: 0px;"><a href="%%subscription_center_url%%" alias="Manage Subscriptions" style="color:#7F7F7F;text-decoration:underline;">Unsubscribe/Manage Subscriptions</a> | <a href="%%profile_center_url%%" style="color:#7F7F7F;text-decoration:underline;">Manage Your Profile</a></p>
						</td>
					</tr>				
				</table>
			</td>
		</tr>
	</table>
<custom name="opencounter" type="tracking">
</body>
</html>

<!-- bgcolor #d5d5d5 -->
					<tr>
						<td class="postfooter" bgcolor="#d5d5d5" align="center" style="padding: 10px 0;font-family: Helvetica, Arial, sans-serif;font-size: 9px;">
							<p style="margin-top: 0px;">%%Member_Busname%%<br>
							%%Member_Addr%%<br>
							%%Member_City%%, %%Member_State%% %%Member_PostalCode%%</p>
							<p style="margin-top: 0px;"><a href="%%subscription_center_url%%" alias="Manage Subscriptions" style="color:#7F7F7F;text-decoration:underline;">Unsubscribe/Manage Subscriptions</a> | <a href="%%profile_center_url%%" style="color:#7F7F7F;text-decoration:underline;">Manage Your Profile</a></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
<custom name="opencounter" type="tracking">
</body>
</html>