<!-- add this in Exact Target -->
<!-- bgcolor #d5dbe5 -->
<tr>
	<td class="postfooter" bgcolor="#d5dbe5" align="center" style="padding: 10px 0;font-family: Helvetica, Arial, sans-serif;font-size: 9px;">
		<p style="margin-top: 0px;">%%Member_Busname%%<br>
		%%Member_Addr%%<br>
		%%Member_City%%, %%Member_State%% %%Member_PostalCode%%</p>
		<p style="margin-top: 0px;"><a href="%%subscription_center_url%%" alias="Manage Subscriptions" style="color:#7F7F7F;text-decoration:underline;">Unsubscribe/Manage Subscriptions</a> | <a href="%%profile_center_url%%" style="color:#7F7F7F;text-decoration:underline;">Manage Your Profile</a></p>
	</td>
</tr>

OR
<!-- bgcolor #d5dbe5 -->
<tr>
	<td class="postfooter" bgcolor="#d5d5d5" align="center" style="padding: 10px 0;font-family: Helvetica, Arial, sans-serif;font-size: 9px;">
		<p style="margin-top: 0px;">%%Member_Busname%%<br>
		%%Member_Addr%%<br>
		%%Member_City%%, %%Member_State%% %%Member_PostalCode%%</p>
		<p style="margin-top: 0px;"><a href="%%subscription_center_url%%" alias="Manage Subscriptions" style="color:#7F7F7F;text-decoration:underline;">Unsubscribe/Manage Subscriptions</a> | <a href="%%profile_center_url%%" style="color:#7F7F7F;text-decoration:underline;">Manage Your Profile</a></p>
	</td>
</tr>